<div class="col-md-6 mx-auto mt-5">
    <div class="card p-4">
        <form class="" action="/search">
            <h3 class="text-danger text-center">Bias Checker</h3>
            <div class="form-group">
                <input type="text" name="tag" class="form-control mb-3" placeholder="Type the link..." autofocus required>
                <input type="submit" class="btn btn-warning w-100" value="Search">
            </div>
        </form>    
    </div>
    
</div>
