
<a class="btn btn-success" href="/">Back</a>
<div class="ui list">
    {{#each datas}}
        {{!-- <a class="item" href="{{article}}">{{title}}</a> --}}
        <p>{{content}}</p>
    {{/each}}
</div>
